<div class="contentSpace">
    <section class="">
        <div class="container">
            <img src="assets/img/ship.jpg" class="d-block w-100 rounded" alt="...">

            <div class="row mt-4">
                <div class="col-sm-3">
                    <section class="white-bg p-5 shadow">
                        <dl>
                            <dt>Category One</dt>
                            <dd>Sub title one</dd>
                            <dd>Sub title one</dd>
                            <dt>Category Two</dt>
                            <dd>Sub title one</dd>
                        </dl>
                    </section>
                </div>
                <div class="col-sm-9">
                    <section class="white-bg p-5 shadow">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <!-- <div>
                            <button class="check-rate-btn">Read More</button>
                        </div> -->
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>