<div class="contentSpace">   
    <section class="bannerSec career"></section>
    <section class="">
        <div class="container">
            <!-- <img src="assets/img/career.jpg" class="d-block w-100 rounded" alt="..."> -->
            <h4>Career</h4>
            <div class="row mt-4">
                <div class="col-sm-6">
                    <div class="careerBox">
                        <h5 class="mb-4">Position One</h5>
                        <p>Lorem ipsum dummy content goes here Lorem ipsum dummy content goes here Lorem ipsum dummy content goes here....</p>
                        <a href="" class="pl-0" mat-button color="warn">Apply Now<span class="material-icons">arrow_right_alt</span></a>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="careerBox">
                        <h5 class="mb-4">Position One</h5>
                        <p>Lorem ipsum dummy content goes here Lorem ipsum dummy content goes here Lorem ipsum dummy content goes here....</p>
                        <a href="" class="pl-0" mat-button color="warn">Apply Now<span class="material-icons">arrow_right_alt</span></a>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="careerBox">
                        <h5 class="mb-4">Position One</h5>
                        <p>Lorem ipsum dummy content goes here Lorem ipsum dummy content goes here Lorem ipsum dummy content goes here....</p>
                        <a href="" class="pl-0" mat-button color="warn">Apply Now<span class="material-icons">arrow_right_alt</span></a>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="careerBox">
                        <h5 class="mb-4">Position One</h5>
                        <p>Lorem ipsum dummy content goes here Lorem ipsum dummy content goes here Lorem ipsum dummy content goes here....</p>
                        <a href="" class="pl-0" mat-button color="warn">Apply Now<span class="material-icons">arrow_right_alt</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>