<div class="contentSpace">   
    <section class="bannerSec career"></section>
    <section class="">
        <div class="container">
            <!-- <img src="assets/img/career.jpg" class="d-block w-100 rounded" alt="..."> -->
            <h4>Career</h4>
            <div class="row mt-4" *ngIf="allCareerList.length > 0">
                <div class="col-sm-6" *ngFor="let careerObj of allCareerList">
                    <div class="careerBox">
                        <h5 class="mb-4">{{careerObj.career_title}}</h5>
                        <p>Skils: {{careerObj.skils}}</p>
                        <p>Experience: {{careerObj.experience}}</p>
                        <a href="" class="pl-0" mat-button color="warn">Apply Now<span class="material-icons">arrow_right_alt</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>