<div class="contentSpace">   
    <section class="mapLocations">
        <div class="container">
            <!-- <img src="assets/img/career.jpg" class="d-block w-100 rounded" alt="..."> -->
            <h4>Find location</h4>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="findLocation white-bg shadow">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <span class="highLightHeading">Service Center</span>
                                <span>Find your Nearest Location</span>
                            </div>
                            <div class="col-md-5 my-4">
                                <div class="row">
                                    <div class="col-6">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                          </select>
                                    </div>
                                    <div class="col-6">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                          </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 my-4">
                                <button mat-raised-button color="warn">Find Locations</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <ul class="nav nav-tabs mb-2" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <a class="nav-link active" id="listViews-tab" data-toggle="tab" href="#listViews" role="tab" aria-controls="listViews" aria-selected="true">List View</a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a class="nav-link" id="mapView-tab" data-toggle="tab" href="#mapView" role="tab" aria-controls="mapView" aria-selected="false">Map View</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="listViews" role="tabpanel" aria-labelledby="listViews-tab">
                            <div class="table-responsive white-bg shadow">
                                <table class="table table-striped mb-0">
                                    <thead>
                                      <tr>
                                        <th scope="col" style="width:20%">City</th>
                                        <th scope="col" style="width:30%">Address</th>
                                        <th scope="col" style="width:25%">Mobile</th>
                                        <th scope="col" style="width:25%">Email</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        <td>@mdo</td>
                                      </tr>
                                      <tr>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                        <td>@mdo</td>
                                      </tr>
                                      <tr>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                        <td>@mdo</td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="mapView" role="tabpanel" aria-labelledby="mapView-tab">Map View</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>