<main class="inner-main">
    <div class="container">
    
        <section class="signup-step-container pt-0 bookShipment">
            
                <div class="row d-flex justify-content-center mt-5">
                    <div class="col-12">
                        <div class="white-bg shadow p-5 redBorder">
                            <h6 class="mb-0 title-with-bg">Book Collection</h6>
                            <div class="row">
                                <form [formGroup]="collectionFormGroup">
                                    <div class="row">
                                        <div class="col-12 mt-2">
                                            <div class="alert alert-warning" role="alert">
                                                <b class="mr-2">Note:</b>Shipments booked on Sunday will be processed on next working day.
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>From Country</mat-label>
                                                <mat-select formControlName="originCountry">
                                                    <mat-option *ngFor="let item of country" [value]="item.value">
                                                    {{item.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>To Country</mat-label>
                                                <mat-select formControlName="destinationCountry">
                                                    <mat-option *ngFor="let item of country" [value]="item.value">
                                                    {{item.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field appearance="legacy">
                                                <mat-label>Collection Ready Date</mat-label>
                                                <input matInput [matDatepicker]="picker2" formControlName="collectionDate">
                                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                <mat-datepicker #picker2></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Collection Ready Time</mat-label>
                                                <mat-select formControlName="collectionTime">
                                                    <mat-option *ngFor="let item of country" [value]="item.value">
                                                    {{item.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Collection Cutoff/Closing Time</mat-label>
                                                <mat-select formControlName="cutoffTime">
                                                    <mat-option *ngFor="let item of country" [value]="item.value">
                                                    {{item.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Vehicle Type</mat-label>
                                                <mat-select formControlName="vehicleType">
                                                    <mat-option *ngFor="let item of country" [value]="item.value">
                                                    {{item.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>KYC Type</mat-label>
                                                <mat-select formControlName="kycType">
                                                    <mat-option *ngFor="let item of country" [value]="item.value">
                                                    {{item.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <!-- <mat-form-field>
                                                <mat-label>KYC Documents</mat-label>
                                                <input matInput type="file" (change)="selectFile($event)" />
                                            </mat-form-field> -->
                                            <p class="mb-1">KYC Documents</p>
                                            <div class="form-group fileUploadSec">
                                                <input type="file" id="upload" (change)="handleFileInput($event.target.files)" hidden/>
                                                <label for="upload">Choose file</label>
                                                <b class="ml-2">{{selectedFileName}}</b>
                                            </div>
                                        </div>
                                        <div class="col-md-4 pt-4">
                                            <mat-radio-group aria-label="Select an option" formControlName="cashType">
                                                <mat-radio-button color="warn" value="cash">Pay Cash</mat-radio-button>
                                                <mat-radio-button color="warn" value="online">Pay Online</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div class="col-md-12">
                                            <mat-form-field>
                                                <mat-label>Special Instruction</mat-label>
                                                <textarea matInput placeholder="" formControlName="specilInst"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="text-right mt-3">
                            <button mat-raised-button class="mr-2">Reset</button>
                            <button mat-raised-button color="warn" (click)="createShipment()">Submit</button>
                        </div>
                    </div>
                </div>
           
        </section>
    
    
      
    </div>
    </main>