<!-- ======= Hero Section ======= -->
  <section class="mt-5 py-5">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/slide1.jpg" class="d-block w-100" alt="...">
          <div class="sliderContent">
            <div class="home-car-div">
                <img src="assets/img/icon-1.png" alt="">
                <ul>
                    <li>FAST</li>
                    <li>SECURED</li>
                    <li>WORLDWIDE</li>
                </ul>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <h1><span>COURIER</span> & <span>DELIVERY</span> SERVICES</h1>
                <!-- <h2>Delivering great food for more than 18 years!</h2> -->
              
                <div class="btns">
                  <a href="#menu" class="btn-menu animated fadeInUp scrollto">GET STARTED</a>
                  <!-- <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Book a Table</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/img/slide2.jpg" class="d-block w-100" alt="...">
          <div class="sliderContent">
            <div class="home-car-div">
                <img src="assets/img/icon-1.png" alt="">
                <ul>
                    <li>FAST</li>
                    <li>SECURED</li>
                    <li>WORLDWIDE</li>
                </ul>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <h1><span>COURIER</span> & <span>DELIVERY</span> SERVICES</h1>
                <!-- <h2>Delivering great food for more than 18 years!</h2> -->
              
                <div class="btns">
                  <a href="#menu" class="btn-menu animated fadeInUp scrollto">GET STARTED</a>
                  <!-- <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Book a Table</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  <main id="main">
    <section class="cards-section">
      <div class="container-fluid" data-aos="fade-up">
        <div class="row">
          <div class="col-md-4">
            <div class="track-card shadow">
              <h1 class="card-title">TRACK YOUR SHIPMENT</h1>
              <form>
              <div class="radio-btns-div">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" checked>
                  <label class="custom-control-label" for="customRadioInline1">Shipment</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline2">Reference</label>
                </div>
              </div>
              <textarea class="form-control" rows="5" placeholder="Enter your shipment or reference number"></textarea>
              <p class="text-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
              <p class="text-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
              <div class="text-center mt-2">
                <button type="submit" class="track-btn">TRACK</button>
             </div>
            </form>
            </div>
          </div>
          <div class="col-md-4">
            <div class="inquiry-card shadow">
              <h1 class="card-title">RATE INQUIRY</h1>
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#domastic-tab" role="tab">Domestic</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#internation-tab" role="tab">International</a>
                </li>
              </ul><!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="domastic-tab" role="tabpanel">
              <form [formGroup]="domesticForm" (ngSubmit)="ratingDetails()">
                <div class="form-group">
                  <label>From Country <span>*</span></label>
                  <input type="text" class="form-control" name="fromCountry" formControlName="fromCountry">
                  <span class="error" *ngIf="fromCountry.invalid && fromCountry.touched">Please Select From Country</span>
                </div>
                <div class="form-group">
                  <label>To Country <span>*</span></label>
                  <input type="text" name="toCountry" class="form-control" formControlName="toCountry">
                  <span class="error" *ngIf="toCountry.invalid && toCountry.touched">Please Select To Country</span>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>From City <span>*</span></label>
                      <input type="text" class="form-control" name="fromCity" formControlName="fromCity">
                      <span class="error" *ngIf="fromCity.invalid && fromCity.touched">Please Select From City</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>To City <span>*</span></label>
                      <input type="text" name="toCity" class="form-control" formControlName="toCity">
                      <span class="error" *ngIf="toCity.invalid && toCity.touched">Please Select To City</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Weight <span>*</span></label>
                      <input type="text" class="form-control" formControlName="weight" name="weight">
                      <span class="error" *ngIf="weight.invalid && weight.touched">Please Enter Weight</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Unit <span>*</span></label>
                      <select class="form-control" formControlName="unit" name="unit">
                        <option value="">select</option>
                        <option value="KG">KG</option>
                        <option value="LBS">LBS</option>
                      </select>
                      <span class="error" *ngIf="unit.invalid && unit.touched">Please Select Unit</span>
                    </div>
                  </div>
                </div>
                <div class="text-center mt-2">
                  <button type="submit" [disabled]="domesticForm.invalid" class="check-rate-btn">CHECK RATES</button>
                </div>
              </form>
                </div>
                <div class="tab-pane" id="internation-tab" role="tabpanel">
                  <form [formGroup]="domesticForm" (ngSubmit)="ratingDetails()">
                    <div class="form-group">
                      <label>From Country <span>*</span></label>
                      <input type="text" class="form-control" name="fromCountry" formControlName="fromCountry">
                      <span class="error" *ngIf="fromCountry.invalid && fromCountry.touched">Please Select From Country</span>
                    </div>
                    <div class="form-group">
                      <label>To Country <span>*</span></label>
                      <input type="text" name="toCountry" class="form-control" formControlName="toCountry">
                      <span class="error" *ngIf="toCountry.invalid && toCountry.touched">Please Select To Country</span>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>From City <span>*</span></label>
                          <input type="text" class="form-control" name="fromCity" formControlName="fromCity">
                          <span class="error" *ngIf="fromCity.invalid && fromCity.touched">Please Select From City</span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>To City <span>*</span></label>
                          <input type="text" name="toCity" class="form-control" formControlName="toCity">
                          <span class="error" *ngIf="toCity.invalid && toCity.touched">Please Select To City</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Weight <span>*</span></label>
                          <input type="text" class="form-control" formControlName="weight" name="weight">
                          <span class="error" *ngIf="weight.invalid && weight.touched">Please Enter Weight</span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Unit <span>*</span></label>
                          <select class="form-control" formControlName="unit" name="unit">
                            <option value="">select</option>
                            <option value="KG">KG</option>
                            <option value="LBS">LBS</option>
                          </select>
                          <span class="error" *ngIf="unit.invalid && unit.touched">Please Select Unit</span>
                        </div>
                      </div>
                    </div>
                    <div class="text-center mt-2">
                      <button type="submit" class="check-rate-btn" [disabled]="domesticForm.invalid">CHECK RATES</button>
                    </div>
                  </form>
                </div>
               
              </div>
            
            </div>
          </div>
          <div class="col-md-4">
            <div class="map-card shadow">
              <h1 class="card-title">FIND ARAMEX IN <span>United Arab Emirates</span></h1>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3722357.3332588463!2d51.71127771069614!3d24.342500942557642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5e48dfb1ab12bd%3A0x33d32f56c0080aa7!2sUnited%20Arab%20Emirates!5e0!3m2!1sen!2sin!4v1612451003742!5m2!1sen!2sin" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
              <div class="text-center mt-2">
                <button type="submit" class="check-rate-btn">FIND NEAREST LOCATION</button>
              </div>

              </div>
              </div>
        </div>
      </div>
    </section>
    <section id="gallery" class="gallery our_services">

      <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-title">
          <!-- <h2>Gallery</h2> -->
          <p>Our Services</p>
        </div>
      </div>

      <div class="container-fluid aos-init aos-animate" data-aos="fade-up">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item ">
              <a href="assets/img/gallery/gallery-1.jpg" class="venobox vbox-item" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item text-center text-card white-bg">
              <img src="assets/img/airplane.svg" alt="" class="icon">
              <h1 class="service-title">Air Freight</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <a href="javascript:void(0);" routerLink="service-details">READ MORE</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-3.jpg" class="venobox vbox-item" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item text-center text-card white-bg">
              <img src="assets/img/container-truck.svg" alt="" class="icon">
              <h1 class="service-title">Sea Freight</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <a href="" routerLink="service-details">READ MORE</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item text-center text-card white-bg">
              <img src="assets/img/container-truck.svg" alt="" class="icon">
              <h1 class="service-title">Ground Freight</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <a href="" routerLink="service-details">READ MORE</a>
            </div>
           
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-5.jpg" class="venobox vbox-item" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item text-center text-card white-bg">
              <img src="assets/img/airplane.svg" alt="" class="icon">
              <h1 class="service-title">Warehousing</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <a href="" routerLink="service-details">READ MORE</a>
            </div>
            
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-7.jpg" class="venobox vbox-item" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section class="about_us">
      <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-title">
          <!-- <h2>Gallery</h2> -->
          <p>About Us</p>
        </div>
      </div>
      <div class="container-fluid aos-init aos-animate" data-aos="fade-up">
        <div class="row no-gutters">
          <div class="col-md-6">
            <div class="video-div">
              <iframe src="https://www.youtube.com/embed/nWwpyclIEu4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-content">
              <div class="about-card">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quas tempore ea harum dolores cumque quisquam repellendus similique unde accusamus odio voluptatem ipsum, itaque labore voluptatibus, corporis quae ratione dolorum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quas tempore ea harum dolores cumque quisquam repellendus similique unde accusamus odio voluptatem ipsum, itaque labore voluptatibus, corporis quae ratione dolorum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="news">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <!-- <h2>Testimonials</h2> -->
          <p>News & Updates</p>
        </div>

        <div class="slider-container">
          <div class="slide-item">
            <div class="news-card">
                <div class="header">
                  <h1 class="title">News Title</h1>
                  <span class="date">05 February 2021</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem aliquam quo voluptatem distinctio sed in porro laborum corrupti quibusdam ut suscipit reprehenderit quisquam repellendus provident perferendis, ex at ipsam veniam.</p>
              </div>
          </div>
          <div class="slide-item">
            <div class="news-card">
                <div class="header">
                  <h1 class="title">News Title</h1>
                  <span class="date">05 February 2021</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem aliquam quo voluptatem distinctio sed in porro laborum corrupti quibusdam ut suscipit reprehenderit quisquam repellendus provident perferendis, ex at ipsam veniam.</p>
              </div>
          </div>
          <div class="slide-item">
            <div class="news-card">
                <div class="header">
                  <h1 class="title">News Title</h1>
                  <span class="date">05 February 2021</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem aliquam quo voluptatem distinctio sed in porro laborum corrupti quibusdam ut suscipit reprehenderit quisquam repellendus provident perferendis, ex at ipsam veniam.</p>
              </div>
          </div>
          <div class="slide-item">
            <div class="news-card">
                <div class="header">
                  <h1 class="title">News Title</h1>
                  <span class="date">05 February 2021</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem aliquam quo voluptatem distinctio sed in porro laborum corrupti quibusdam ut suscipit reprehenderit quisquam repellendus provident perferendis, ex at ipsam veniam.</p>
              </div>
          </div>
          
        </div>
       
      </div>
    </section>
  </main>
