 <!-- ======= Footer ======= -->
 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="footer-info">
              <h3>Contact</h3>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 footer-links">
              <h4>Main Office</h4>
              <p>
                Skynet Express India (HEADOFFICE) <br />
                A 9 6 Road No 4, Street No 7<br/>
                Mahipalpur Ext, New Delhi 110037. <br />
              </p>
              <p class="mb-0">CIN No. U64100DL2015PTC279337</p>
              <p class="mb-0">GSTIN - 07AACCL8506B1ZU</p>
              <p>
                <strong class="mr-1"><i class="fas fa-phone-alt"></i></strong> 011 - 26785946, 26785947<br>
                <strong class="mr-1"><i class="fas fa-phone-alt"></i></strong> +91 9811234230<br>
              </p>
          </div>

          <div class="col-lg-4 col-md-4 footer-links">
            <h4>West Hub (Mumbai)</h4>
            <p>
              SKYNET EXPRESS INDIA P.LTD<br/>
              45, Adarsh Industrial Estate Sahar Road <br/>
              Chakala Andheri East Mumbai <br/>
              Maharashtra - 400099 <br/>
              <strong class="mr-1"><i class="fas fa-phone-alt"></i></strong> 02245416600<br>
              <strong class="mr-1"><i class="fas fa-phone-alt"></i></strong> 91 9820227766<br>
            </p>
          </div>

          <div class="col-lg-4 col-md-4 footer-links">
            <h4>South Hub (Bangalore)</h4>
            <p>
              Orbit Trans Express & Freight Pvt Ltd. <br/>
              No.6/1, 11th Cross, 4th Main, SR Nagar<br/>
              Bangalore - 560 027. INDIA<br/>
              <strong class="mr-1"><i class="fas fa-phone-alt"></i></strong> 9180 2212 0454/22110454<br>
              <strong class="mr-1"><i class="fas fa-phone-alt"></i></strong> 8050088816<br>
            </p>
          </div>

          <div class="col-lg-4 col-md-4 footer-links">
            <h4>Gujarat Hub (Ahmadabad)</h4>
            <p>
              SKYNET EXPRESS INDIA P.LTD<br/>
              Sky International Pvt Ltd.<br/>
              Gr. Floor, Shann Complex,<br/>
              B/H Sakar 2, Ellis Bridge Ahmedabad.<br/>
              <strong class="mr-1"><i class="fas fa-phone-alt"></i></strong> +91 - 7926580398<br>
            </p>
          </div>

        </div>
        <div class="row">
          <div class="col-12">
            Follow Us:
            <span class="social-links mt-3 ml-3">
              <a target="_blank" href="https://twitter.com/Skynetworldwid2" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a target="_blank" href="https://www.facebook.com/Skynetworldwide-112469106893676/" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a target="_blank" href="https://www.linkedin.com/in/rajiv-malik-165233193/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>skynet</span></strong>. All Rights Reserved
      </div>
      <!-- <div class="credits"> -->
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/restaurantly-restaurant-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      <!-- </div> -->
    </div>
  </footer><!-- End Footer -->
