<div class="contentSpace">
    <div class="container pt-4 pb-4">
        <div class="row">
            <div class="col-sm-7">
                <div class="rateMainSec p-5">
                    <h3>Rate Inquiry</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">From Country</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">To Country</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                  <input type="radio" name="options" id="option1" checked> KG
                                </label>
                                <label class="btn btn-secondary">
                                  <input type="radio" name="options" id="option2"> LBS
                                </label>
                            </div>
                            <button class="btn btn-warning ml-2">Check Rate</button>
                        </div>
                    </div>
                </div>
                <div class="rateSection white-bg shadow p-5">
                    <div class="row">
                        <div class="col-12">
                            <p style="font-size: 24px;" class="text-center"><span>Saudi Arabia</span><span><i class="fas fa-long-arrow-alt-right mx-3"></i></span><span>United States Of America</span></p>
                        </div>
                        <div class="col-12">
                            <div class="custom-control custom-radio p-0">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio1">Skynet International 5 Kgs Box</label>
                            </div>
                            <div class="custom-control custom-radio p-0">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">Skynet International Documents (SIDX) SMSA Pak</label>
                            </div>
                            <div class="custom-control custom-radio p-0">
                                <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio3">Skynet International 10 Kgs Box</label>
                            </div>
                            <div class="custom-control custom-radio p-0">
                                <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio4">Skynet International Non Documents - (SIND)</label>
                            </div>
                            <div class="custom-control custom-radio p-0">
                                <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio5">Skynet International 25 Kgs Box</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="white-bg shadow p-5">
                    <h5>Summary</h5>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    </p>
                    <div class="table-responsive">
                        <table class="table table-stripped">
                            <tbody>
                                <tr>
                                    <td style="width:50%">
                                        Shipping
                                    </td>
                                    <td style="width:50%; text-align: right;">
                                        Rs.100
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:50%">
                                        VAT
                                    </td>
                                    <td style="width:50%; text-align: right;">
                                        Rs.100
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:50%; font-weight: bold;">
                                        Total
                                    </td>
                                    <td style="width:50%; text-align: right;">
                                        Rs.200
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-warning">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>