<div class="contentSpace">
    <div class="container pt-4 pb-4">
        <div class="row">
            <div class="col-sm-7">
                <div class="rateMainSec p-5">
                    <h3>Rate Inquiry</h3>
                    <form [formGroup]="rateCalc" (ngSubmit)="rateCalculator()" class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">From Country <span>*</span></label>
                                <select class="form-control" formControlName="fromCountry" name="fromCountry">
                                  <option value="">Select Country</option>
                                  <option value="india">india</option>
                                  <option value="australia">australia</option>
                                  <option value="america">america</option>
                                  <option value="london">london</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">To Country<span>*</span></label>
                                <select class="form-control" formControlName="toCountry" name="toCountry">
                                  <option value="">Select Country</option>
                                  <option value="india">india</option>
                                  <option value="australia">australia</option>
                                  <option value="america">america</option>
                                  <option value="london">london</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">From City<span>*</span></label>
                                <select class="form-control" formControlName="fromCity" name="fromCity">
                                  <option value="">Select City</option>
                                  <option value="madurai">Madurai</option>
                                  <option value="chennai">Chennai</option>
                                  <option value="delhi">Delhi</option>
                                  <option value="mumbai">Mumbai</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">To City<span>*</span></label>
                                <select class="form-control" formControlName="toCity" name="toCity">
                                    <option value="">Select City</option>
                                    <option value="melborne">Melborne</option>
                                    <option value="sydney">Sydney</option>
                                    <option value="delhi">Delhi</option>
                                    <option value="mumbai">Mumbai</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Weight<span>*</span></label>
                                <input type="text" class="form-control" placeholder="" formControlName="weight" name="weight">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-12">
                                <label for="exampleFormControlSelect1">&nbsp;</label>
                            </div>
                            <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary">
                                <input type="radio" name="unit" formControlName="unit" value="KG"> KG
                                </label>
                                <label class="btn btn-secondary">
                                <input type="radio" name="unit" formControlName="unit" value="LBS"> LBS
                                </label>
                            </div> -->
                            <div class="form-inline">
                                <div class="form-check mr-3">
                                    <input class="form-check-input" type="radio" name="unit" formControlName="unit" id="exampleRadios1" value="KG">
                                    <label class="form-check-label" for="exampleRadios1">
                                        KG
                                    </label>
                                </div>
                                <div class="form-check mr-3">
                                    <input class="form-check-input" type="radio" name="unit" formControlName="unit" id="exampleRadios2" value="LBS">
                                    <label class="form-check-label" for="exampleRadios2">
                                        LBS
                                    </label>
                                </div>
                                <button class="btn btn-warning ml-2">Check Rate</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="rateSection white-bg shadow p-5">
                    <div class="row">
                        <div class="col-12">
                            <p style="font-size: 24px;" class="text-center"><span>Saudi Arabia</span><span><i class="fas fa-long-arrow-alt-right mx-3"></i></span><span>United States Of America</span></p>
                        </div>
                        <div class="col-12">
                            <div class="custom-control custom-radio p-0">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio1">Skynet International 5 Kgs Box</label>
                            </div>
                            <div class="custom-control custom-radio p-0">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">Skynet International Documents (SIDX) SMSA Pak</label>
                            </div>
                            <div class="custom-control custom-radio p-0">
                                <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio3">Skynet International 10 Kgs Box</label>
                            </div>
                            <div class="custom-control custom-radio p-0">
                                <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio4">Skynet International Non Documents - (SIND)</label>
                            </div>
                            <div class="custom-control custom-radio p-0">
                                <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio5">Skynet International 25 Kgs Box</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="white-bg shadow p-5">
                    <h5>Summary</h5>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    </p>
                    <div class="table-responsive">
                        <table class="table table-stripped">
                            <tbody>
                                <tr>
                                    <td style="width:50%">
                                        Shipping
                                    </td>
                                    <td style="width:50%; text-align: right;">
                                        Rs.100
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:50%">
                                        VAT
                                    </td>
                                    <td style="width:50%; text-align: right;">
                                        Rs.100
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:50%; font-weight: bold;">
                                        Total
                                    </td>
                                    <td style="width:50%; text-align: right;">
                                        Rs.200
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-warning">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>